*{
    transition: opacity 500ms;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

div.static-panel{
    margin-bottom:100px;
    margin-bottom:30vh;
}

p.panel-number{
    font-style:italic;
    font-size:0.875rem;
    color:#555555;
    margin:0em;
}

div.scrolling-panel{
    min-height:90vh;
    max-width:400px;
    margin:0px auto;
    padding:100px 15px;
    position:relative;
    z-index:1000;
    pointer-events:none;
}

div.scrolling-panel > p{
    padding:10px 15px;
    line-height:1.7em;
    background-color:rgba(0,0,0,0.15);
    background-color:#ffffff;
    border-width:1px;
    border-style:solid;
    border-color:#aaaaaa;
    display:inline-block;
    border-radius:3px;
    text-shadow: 0px 0px 4px #ffffff;
    font-size:1rem;
}

div.scrolling-panel > p > span{

}

.meta-tag{
    background-color:#555555;
    padding:4px 6px;
    border-radius:6px;
    color:#ffffff;
}

.chart-view{
    min-height:400px;
    min-width:300px;
    max-width:900px;
    margin:0px auto;
    opacity:0.4;
    z-index:0;
}

.chart-view.big-chart{
    max-width:900px;
}

.chart-view .chart-view-caption{
    font-style:italic;
    margin:1em;
    line-height:1.7em;
}

.sequence-wrap{
    max-width:1400px;
    margin:0px auto 40vh auto;
    
}

.sticky-el{
    padding:15px;
    border-top:1px solid #aaaaaa;
}

.sticky-chart-title{
    max-width:800px;
    padding:5px 0px 15px 0px;
    margin:0px;
}

.sticky-chart-title > *{
    font-size:24px;
    font-weight:bold;
    margin:0px;
}

.axis-group path, .axis-group line{
    stroke:#aaaaaa;
    shape-rendering: crispEdges;
}

.axis-group text{
    fill:#555555;
    font-size:15px;
}

.expected-density-change:before{
    content:"";
    display:inline-block;
    width:10px;
    height:10px;
    margin-right:3px;
    border:2px solid #053769;
    border-radius:5px;
    background-color:#ffffff;
    box-sizing:border-box;
}

.actual-density-change:before{
    content:"";
    display:inline-block;
    width:10px;
    height:10px;
    margin-right:3px;
    border:2px solid #053769;
    border-radius:5px;
    background-color:#053769;
    box-sizing:border-box;
}

.legend{
    float:right;
    display:inline-block;
    border-top:1px solid #aaaaaa;
    line-height:1.7em;
}

.meta-header{
    margin:0px 0px 10px 0px;
}

.meta-header > *{
    padding:5px 10px;
    line-height:1em;
    font-size:16px;
    font-weight:bold;
    color:#eeeeee;
    border-radius:7px;
    display:inline-block;

    text-decoration:none;
    border:none;
    border-width:0px;
    border-color:transparent;
}

.meta-header-1 > *{
    background-color:#0D73D6;
}

.meta-header-2 > *{
    background-color:#02B6ED;
}

.meta-header-3 > *{
    background-color:#02E3DD;
    color:#333333;
}


@media (min-width:0px){
    div.scrolling-panel{
        margin:0px auto;
    }

    .chart-view{
        margin:0px auto;
    }
}

@media (min-width:1380px){
    div.scrolling-panel{
        margin:0px auto 0px 980px;
    }

    .chart-view{
        margin:0px auto 0px 0px;
    }
}